.game {
  height: 600px;
  width: 600px;
  box-shadow: 0 0 0.75rem var(--black-30);
  position: relative;
}

canvas {
  display: block;
  background: #ccc;
}

.info {
  top: 3rem;
  right: 3rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.25rem;
  font-size: 1.1rem;
  font-weight: 500;
}

.info-item-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.current-color {
  width: 65px;
  height: 65px;
  border: solid 0.125rem var(--main-charcoal);
}

.controls {
  position: absolute;
  bottom: 1rem;
  font-size: 0.9rem;
  color: var(--main-lightgray);
}
